@media all and (max-width : 1310px){
    .midl{
        width: 95%;
    }
    .skill .left .poin{
        width: 360px;
       
    }
    .about .bottome img{
        width: 100%;
    }
}
@media all and (max-width : 604px) {
    .service .section{
        width: 40%;
    }
}
@media (max-width : 990px){
    .portfolio .mem img{
        width: 30%;
    }
    .portfolio .midl p {
        font-size: 11px;
    }
}
@media all and (max-width : 1090px){
    .shadow img{
        position: absolute;
        width: 300px;
        left: 10%;
        top: 80px;
    }
    .skill .mid{
        width: 90%;
        margin: auto;
    }
    .skill .right{
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .skill .left{
 
        width: 90%;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .skill .left .poin{
        width:100%;
    }
}
@media all and (max-width : 950px){
    .shadow img{
        position: absolute;
        width: 230px;
        left: 10%;
        top: 150px;
    }
}
@media all and (max-width : 882px){
    .shadow .right p{
        color: white;
        width: 90%;
        font-size: 12px;
        margin: 0px 0px 30px;
    }
    .bottm .sec-2{
        display: inline-block;
        text-align: left;
        width: 25%;
        overflow: hidden;
        background-color: #fff;
        margin: 5px 10px;
    
    }

    .video .right{
        float: none;
        overflow: hidden;
        text-align: center;
        margin: auto;
        width: 90%;
    }
    .video .left{
        width: auto;
        float: none;
        overflow: hidden;
        padding-bottom: 10px;
    }
    .video .left video{
        width: 400px;
        display: block;
        margin: 0px auto;
        float: none;
        border-radius: 20px;
    }
    .video .right a{
        margin: 10px auto;
    }
    body .banar h1{
        font-size: 40px;
    }
    body .banar article{
        width: 90%;
    }
    .service h1{
        font-size: 40px;
    }
    .portfolio{
        padding: 10px 0;
    }
    .portfolio .midl h1{
        font-size: 40px;
        margin: 10px 0;
    }
    .about .top h1{
        font-size: 25px;
    }
    .blog h1 {
        text-transform: uppercase;
        font-size: 30px;
    }
    .blog p {
        font-size: 13px;
        margin-top: 0;
    }
}
@media all and (max-width : 700px){
     header nav {
        display: none;
    }
    header menu {
        display: block;
        position: relative;
    }
    header menu a{
        text-decoration: none;
        color: black;
        padding: 20px;
        display: block;
    }
    header nav {
        position: absolute;
        background-color: rgb(255, 255, 255);
    }
    header nav li{
        width: 200px;
        display: block;
    }
    header nav li a{
        font-size: 16px;
    }
    header nav li:hover{
        background-color: rgb(255, 255, 255);
    }
    .molly h3 {
        text-transform: uppercase;
        font-size: 25px;
    }
    
}
@media all and (max-width : 751px){
    .shadow img{
        position: absolute;
        width: 200px;
        left: 7%;
        top: 112px;
    }
    .shadow .right ul li{
        margin: 2px 5px;
        font-size: 8px;
    }
    .shadow .right ul li i {
    font-size: 5px;
    padding: 5px;
    margin-right: 3px;
    }
   
    .contact p{
        width: 90%;
        margin: auto;
        font-size: 13px;
    }
    .contact .input input{
        display:block;
        margin: 10px auto;
        width: 70%;
    }
    .contact {
        padding: 20px 0px;
    }
    .contact h1 {
        text-transform: uppercase;
        font-size: 30px;
    }
    .contact p {
        width: 80%;
        margin: auto;
        font-size: 13px;
    }

    .contact .input textarea{
        width: 80%;
        display: block;
        margin: 20px auto;
      
    }
    .section p{
        width: 140px;
        font-size: 9px;
        margin: auto;
        
    }
    .blog .midel{
        width: 100%;
        margin: auto;
    }
    .about .center article{
        font-size: 13px;
        text-align: center;
    }
    .about .center .last i{
        margin: auto;
        font-size: 13px;
        padding: 5px;
    }
    .about .top p {
        width: 80%;
        margin: auto;
        font-size: 13px;
        color: rgb(104, 104, 104);
    }
    .video article{
        font-size: 13px;
    }
    .skill p{
        font-size: 10px;
        width: 100%;
    }
}
@media all and (max-width : 560px){
    .shadow .right ul li{
        font-size: 9px;
    }
    .section img{
        width: 60px;
    }
    .section h2{
        font-size: 13px;
    }
    .portfolio .midl ul li a {
        text-transform: uppercase;
        padding: 5px;
        font-size: 12px;
    }
    .portfolio .midl ul {
        margin: 20px 0px;
    }
 
}
@media all and (max-width : 1050px){
    .service .mdl{
        width: 100%;
    }

}
@media all and (max-width : 900px){
    .section{
        width: 40%;
        margin: 5px;
        padding: 0;
    }
    
}
    
@media all and (max-width : 600px){
    .service p{
        width: 100%;
      
    }
    .banar article{
        width: 100%;
    }
    .subs h1{
        font-size: 16px;
        color: white;
    }
    
    
}


@media all and (max-width : 920px){
    .banar .shadow{
        padding: 100px 0px;
    }
    .video .right article{
        width: 100%;
        color: rgb(150, 150, 150);
    }
    
}
@media all and (max-width : 1000px){
    .video .right article{
        width: 100%;
        color: rgb(150, 150, 150);
    }
    .about .bottome .left, .about .bottome .center, .about .bottome .right{
        width: 30%;
    }
    .in img{
        width: 100%;
        margin: 20px auto;
        float: right;
    }
}
    
@media all and (max-width : 650px){
    .shadow img{
        position: absolute;
        width: 140px;
        left: 7%;
        top: 130px;
    }
    .bottom {
        padding: 10px 0px;
        background-color: rgb(255, 225, 0);
        overflow: hidden;
    }
    .shadow .right h1 {
        font-size: 20px;
        color: yellow;
        margin: 10px auto 10px;
    }
    .shadow .right p {
        color: white;
        width: 90%;
        font-size: 11px;
        margin: 0px 0px 30px;
    }
}

@media all and (max-width : 1150px){

    .in img{
        width: 200px;
        margin-top: 30px;
    }
    .in .center{
        width: 40%;
        float: left;
        overflow: hidden;
    }
}

@media all and (max-width : 500px){
    .shadow img{
        position: absolute;
        width: 120px;
        left: 7%;
        top: 180px;
    }
    .molly h3 {
        font-size: 18px;
    }
    .molly p {
        font-size:10px;
    }
    .blog .sec-1 {
        width: 40%;
        margin: 0px 5px;
    }
    .blog .sec-1 article {
        font-size: 9px;
    }
    .bottm .sec-2 article {
        font-size: 9px;
    }
}
@media all and (max-width : 660px){
    .mem img {
        width: 150px;
    }
    .mem a {
        margin: 10px auto;
        font-size: 13px;
        padding: 5px;
    }

}
@media all and (max-width : 420px){
    .portfolio .mem img {
        width: 28%;
        margin: 3px;
    }
    .portfolio .midl ul li a {
        padding: 10px;
        font-size: 12px;
    }
    .portfolio .midl ul {
        margin: 10px 0px;
    }
    .video .left video {
        width: 90%;
    }
    .in .right {
        margin-left: 5px;
    }
    .midel > a {
        width: 150px;
        padding: 5px;
        font-size: 12px;
        margin: 20px auto;
    }
    .subs input {
        padding: 5px 15px;
    }
    .subs input[type="text"] {
        padding: 5px 20px;
        margin-right: 5px;
    }
    .contact .input a {
        width: 100px;
        padding: 10px;
        font-size: 13px;
    }
}
@media all and (max-width : 300px){
    .portfolio .midl ul {
        margin: 5px 0px;
    }
    .portfolio .midl ul li a {
        padding: 5px;
        font-size: 10px;
    }
}
